body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100vh;
  padding: 0;
  margin: 0;
  border-width: 0;
  overflow: hidden;
}

.mantine-1ircgyt {
  -webkit-app-region: drag;
}

::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}
